@model List<ResultCategoryDto>

<ul class="filters_menu">
    <li class="active" data-filter="*">Tüm Ürünler</li>

@*     @foreach (var item in Model.Take(5))
 *@        @foreach (var category in Model.Select(x => x.CategoryName).Distinct())


    {
@*         <li data-filter=".@item.CategoryName">@item.CategoryName</li>
 *@        <li data-filter=".@(category?.ToLower().Replace(" ", "-") ?? "")">@category</li>

    }
</ul>




@* <ul class="filters_menu">
    <li class="active" data-filter="*">Tümü</li>
    @foreach (var category in Model.Select(x => x.CategoryName).Distinct())
    {
        <li data-filter=".@(category?.ToLower().Replace(" ", "-") ?? "")">@category</li>
    }

</ul>


@*  *@
@* <ul class="filters_menu">
            <li class="active" data-filter="*">Tümü</li>
            <li data-filter=".Yerel Lezzetler">Yerel Lezzetler</li>
            <li data-filter=".Yerel Ürünler">Yerel Ürünler</li>
            <li data-filter=".Yemeden Gitme">Yemeden Gitme</li>
            <li data-filter=".Özel Tatlılar">Özel Tatlılar</li>
            </ul>   *@ @* *@ 